.content-wrap {
  width: 100%;
  max-width: var(--content-width);
  padding-right: var(--content-margin);
  padding-left: var(--content-margin);
  margin-right: auto;
  margin-left: auto;
}

section:not(.full-width) {
  padding-top: var(--padding-section-vertically);
  padding-bottom: var(--padding-section-vertically);
}

section:not(.full-width) + section {
  padding-top: 0;
}
