{{ define "main" }}
  <section>
    <div class="intro-teasers intro-teasers-pro">
      <div class="content-wrap">
        <h2>Why should I use Linux instead of Windows?</h2>
        <ul>
          <li>
            <a href="">
              <img src="img/intro-teasers/bicycle.svg" alt="">
              <span>Freedom!</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/backdoor.svg" alt="">
              <span>No backdoors in your software.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/creative.svg" alt="">
              <span>Choose what your desktop looks like.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/flask.svg" alt="">
              <span>Is your system unstable?</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/sun.svg" alt="">
              <span>Let your old computer have a second life.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/magic.svg" alt="">
              <span>Why copy software illegally if you can get it for free?</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/protected.svg" alt="">
              <span>Forget about viruses.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/rocket.svg" alt="">
              <span>Jump into the next generation of desktops.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/lock.svg" alt="">
              <span>Linux protects your computer.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/bug.svg" alt="">
              <span>Report bugs.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/world.svg" alt="">
              <span>Help other countries, and your own.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/hourglass.svg" alt="">
              <span>Why does your Windows get slower day after day?</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/support.svg" alt="">
              <span>Enjoy free and unlimited support.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/reload.svg" alt="">
              <span>Update all your software with a single click.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/games.svg" alt="">
              <span>Play hundrets of games for free.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/leaf.svg" alt="">
              <span>Save the environment.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/cpu.svg" alt="">
              <span>Forget about drivers.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/creditcard.svg" alt="">
              <span>Don't pay $100 for your operating system.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/piechart.svg" alt="">
              <span>Does your digital life seem fragmented?</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/stop.svg" alt="">
              <span>No more crapware.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/code.svg" alt="">
              <span>Learn to code.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/fingerprint.svg" alt="">
              <span>Increase your privacy.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/settings.svg" alt="">
              <span>Get full access to any configuration of your computer.</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/terminal.svg" alt="">
              <span>Use powerful and efficient command line tools.</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="intro-teasers intro-teasers-contra">
      <div class="content-wrap">
        <h2>The few cases where you should stick to Windows (for now)</h2>
        <ul>
          <li>
            <a href="">
              <img src="img/intro-teasers/book.svg" alt="">
              <span>Books & printing industry</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/games.svg" alt="">
              <span>Games</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/cpu.svg" alt="">
              <span>Hardware</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/basket.svg" alt="">
              <span>Proprietary software</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="intro-teasers intro-teasers-contra">
      <div class="content-wrap">
        <h2>Okay, I want Linux on my PC! What should I do now?</h2>
        <ul>
          <li>
            <a href="">
              <img src="img/intro-teasers/lightbulb.svg" alt="">
              <span>Install Linux</span>
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/intro-teasers/laptop.svg" alt="">
              <span>Try a Live CD</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
{{ end }}
