:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #6b0504;
  --color-secondary: #6b0504;
  --color-main-text: #333333;
  --color-main-background: #fbfffe;

  --font-family: 'Lato', sans-serif;
  --font-family-headlines: 'Roboto', sans-serif;

  --content-width: 1230px;
  --content-margin: 30px;
  --gap: 30px;
}
